  <!--بِسْمِ اللهِ الرَّحْمٰنِ الرَّحِيْمِ  ﷺ -->


<html>
  <head>
    <meta http-equiv="Content-Type" content="text/html;charset=UTF-8">
    <title>Portfolio WebSite of Web Devloper Mubtasim</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Please see my Portfolio website if you are interested to hire Web Devloper">
 <link rel="icon" href="/file/img/porfolio_img.png">
    <link rel="stylesheet" href="/file/css/style.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css" integrity="sha512-SnH5WK+bZxgPHs44uWIX+LLJAJ9/2PkPKZ5QiAj6Ta86w+fsb2TkcmfRyVX3pBnMFcV7oQPJkl9QevSCWr3W6A==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet"  href="/file/css/global.css">

  </head>
  
  
  
  <body>
    
   
    <header class=" flex row jc_left ai_center ">
      <div class=" flex row jc_center ai_center" 
      id="header_div1">
        <p id="header_logo_txt" class="ff_serif fw_500 txt_d_italic ">Mubtasim</p>
      </div>
   <nav class=" row jc_left ai_center w_50 cgp_2" id="header_div2">
      <a class="txt_d_none" href="">Home</a>
      <a class="txt_d_none" href="#aboutMe_section">About me</a>
      <a class="txt_d_none" href="#projects_section">Projects</a>
       </nav>
     <div class="w_20 row jc_center ai_center"  id="header_div3">
       <button class="golden_border_btn ff_serifsetAnimation">
       <a style="color:inherit;background: inherit;text-decoration: inherit;font-family: inherit" href="#contact_me_form">
  Contact Me
       </a>
       </button>
     </div>
     <div class="header_sidebar_icon_div">
      <i class="fa-solid fa-bars"></i>
     </div>
     <div id="header-sideBar">
       <nav class="flex column jc_left ai_center rgp_15px mb_20px mt_10px">
          <a class="txt_d_none" href="">
            Home
           </a>
          <a class="txt_d_none" href="#aboutMe_section">
            About me
           </a>
          <a class="txt_d_none" href="#projects_section">
            Projects
          </a>
            
       </nav>
          <button class="golden_border_btn ff_serifsetAnimation">
            <a style="color:inherit;background: inherit;text-decoration: inherit;font-family: inherit" href="#contact_me_form">
              Contact Me
            </a> 
          </button>
     </div>
    </header>
    <main>
      
      
      
      
      <!-- hero Section-->
       <section
       class="flex jc_center ai_center "
       id="hero_section">
         <div class="flex column jc_center ai_start   rgp_5px" id="hero_text_div">
           <h2 id="hero_section_job">Mern Stack Web Devloper</h2>
           <h2 id="hero-name" class="fw_500 fsz_30px ">Muhammad Mubtasim</h2>
           <h1 id="hero_section_skills" class="fw_500">
          
             <span
             class="ff_serif"
             >Skils:&nbsp</span>Javascript,&nbsp NodeJs, &nbsp EJS, &nbsp ReactJs</h1>
  
             <span id="icon_box" class="flex row">
              <a class="golden_border_btn" href="https://github.com/Mubtasimf443/"><i style="color: inherit;background: inherit;" class="fa-brands fa-github"></i></a>
              <a class="golden_border_btn" href=""><i style="color: inherit;background: inherit;" class="fa-brands fa-facebook"></i></a>
              <a class="golden_border_btn" href=""><i style="color: inherit;background: inherit;" class="fa-brands fa-linkedin"></i></a>
  
            </span>
  <span id="hero_section_btn_container" class="flex row jc_left ai_center cgp_15 ">
  <button class="golden_border_btn ff_serif">
    <a style="background: inherit ;color: inherit;text-decoration: inherit;" href="abc">
      Resume
    </a>
  </button>
  <button class="dark_golden_btn ff_serif">
    <a style="background: inherit ;color: inherit;text-decoration: inherit;" href="#contact_me_form">Contact</a>
    
    </button> 
  </span>
         </div>
         <div class="flex row ai_center" id="hero_img_div">
           <img 
           class ="h_auto br_none" 
           src="/file/img/porfolio_img.png" alt="">
         </div>
        
       </section>
       
       
   
       
       <!-- About Me Section --> 
       <section id="aboutMe_section">
         <article 
         class="flex column jc_left ai_center   rgp_15px "
         id="about_me_article">
           <img class="w_6e h_6 brr_50" src="/file/img/porfolio_img.png
           " alt="">
           <h2 class="fw_500 ff_serif"> 
           About Mubtasim
           </h2>
       <p  class=" fw_400">
            I am a Web Devloper, who is very talented in website Development By using 
            <span class="ff_serif color_dark_gold">NodeJs
            </span>
            <span  class="ff_serif color_dark_gold" >, ReactJs
            </span>
            <span class="ff_serif color_dark_gold">
              , ExpressJs
              </span>
            <span class="ff_serif color_dark_gold">
              , MongoDB 
              </span>
              and 
             <span class="ff_serif color_dark_gold">
               etc.
             </span>
           My aim in my life is to become successful and make my Parents Proud for me. My father died when I was at 14 years, and So I had to take the responsibility to look after my mother in a early age. It took me hardwork, time and Patience to master 
            <span class="ff_serif color_dark_gold">
             Javascript.
            </span> 
           In the time of 2 months I learned to code with 
        <span class="ff_serif color_dark_gold">
                       Javascript, NodeJs, EJS
          </span>
          and in 3 months I become very telented with 
        <span class="ff_serif color_dark_gold">
          Mern Stack.
        </span>
           I have Created a lot of 
           <span class="ff_serif color_dark_gold">
             Projects.
           </span>
           My Best Projects are <span class="ff_serif color_dark_gold">
             Elementor Copy
             </span>
             by Javascript,
             
           <span class="ff_serif color_dark_gold">Pdf-Json Convertor, </span>  
  <span class="ff_serif color_dark_gold">
    Google Keep Clone
  </span>.
  
  My Aim in my life to become Very Successful and Happy as a web Devloper
           </p>
         </article>
         
   
   </section>
      
      
      
      
      <!-- Skills Section Heading --> 
      <section id="skills_heading_Section" class="flex column jc_left ai_center ">
        <h2 class="txt_align_center fw_500 heading_section_heading">My Skills And Specialist </h2>
      </section>
      
      
      
      
      <!--Skill Box Section -->
      <section id="Skill_box_section">
  
        <div class="skill_box">
        <i class="fa-brands fa-html5"></i>
        <h4>Web Design</h4>
        <p>As a web Designer I can return ExcellenceIn my Project and Design Awesome Website</p>
        </div>
       <div class="skill_box">
        <i class="fa-brands fa-node-js"></i>
       <h4>Backend Development</h4>
       <p>
         I have a Good Backend Skills With 
         <span class="color_dark_gold ff_serif">NodeJs</span>
         And experienced lof of Hard projects
       </p>
       </div>
        <div class="skill_box">
          <i class="fa-brands fa-square-js"></i>
        <h4>Excellence in Js</h4>
        <p>I have spended lot of time to Master        <span class="color_dark_gold ff_serif">
          Javascript 
          </span>
          . &nbsp And it makes me better Programmer
          </p>
        </div>            
      </section>
      <!--Skills Section --> 
      <section class="flex h_auto " id="Skills_section">
        <div class="info_box_div" id="Skills_section_div_1">
          <div class="info_box">
            <p><i class="fa-brands fa-html5"></i>&nbsp;HTML</p>
            <div class="skills_label">
              <div id="skills_range" class="skills_range w_80">
  
              </div>
            </div>
          </div>
  
          <div class="info_box">
            <p><i class="fa-brands fa-square-js"></i>&nbsp;Javascript </p>
            <div class="skills_label">
              <div id="skills_range" class="skills_range w_95">
  
              </div>
            </div>
          </div>
  
              <div class="info_box">
                <p><i class="fa-solid fa-server"></i>&nbsp;ExpressJs</p>
                <div class="skills_label">
                  <div id="skills_range" class="skills_range w_85">
           
                  </div>
                </div>
              </div>
  
              <div class="info_box">
                <p><i class=""></i>&nbsp;Mongo DB</p>
                <div class="skills_label">
                  <div id="skills_range" class="skills_range w_80">
           
                  </div>
                </div>
              </div>
  
        </div>
       <div class="info_box_div" 
       id="Skills_section_div_2">
          <div class="info_box">
            <p> <i class="fa-brands fa-css3-alt"></i>&nbsp;CSS</p>
            <div class="skills_label">
              <div id="skills_range" class="skills_range w_87">
              </div>
            </div>
          </div>
          
                  <div class="info_box">
            <p> <i class="fa-brands fa-node-js"></i>&nbsp;NodeJs</p>
            <div class="skills_label">
              <div id="skills_range" class="skills_range w_80">
  
              </div>
            </div>
          </div>        
         <div class="info_box">
            <p>   <i class="fa-brands fa-react"></i>&nbsp;ReactJs</p>
            <div class="skills_label">
           <div id="skills_range" class="skills_range w_60">
          
            </div>
         </div>
  
              </div>
                      <div class="info_box">
                        <p>  <i></i>&nbsp;JWT Authentication </p>
                        <div class="skills_label">
                          <div id="skills_range" class="skills_range w_87">
          
                          </div>
                        </div>
                      </div>
       </div>
      </section>
      
      
  
      <section class="heading_section flex column " id="projects_heading_section">
   <h2 style="margin-top :60px" class="  txt_align_center fw_500 heading_section_heading ">
     My ProJects
     </h2>
      </section>
      
          <!-- Projects Section -->
      <section id="projects_section">
        <div class="project-Box">
         
       <a style="background-image: url('/file/img/elementor1.png');background-position:top center ;background-size: cover; background-repeat: no-repeat;" href="https://github.com/Mubtasimf443/elementor-clone-by-html-css-javascript"  class="img" ></a>
  
         
          <span  class="details_box">
          <h3>Elementor Clone </h3>
       
             <p>
                      In the time of 5 days I have build an Elementor Clone by Vanilla Javascript which is able to add Section, add Html
            
                      into Container, Design them with css and many more features are inclueded in this Elementor Clone.
                    </p>
            
         
  
          </span>
        </div>
        <div class="project-Box">
               
           <a style="background-image: url('/file/img/note.png');" class="img" href="https://github.com/Mubtasimf443/Google-keep-clone-with-react-mongodb-nodejs-and-express-js" ></a>
  
               
                <span class="details_box">
                  <h3> MERN Note App </h3>
                
                    <p>
                      I followed the styles of Google Keep Note App and Use 
                      <span class="color_dark_gold ff_serif">
                        ReactJs, MongoDB ,ExpressJs, JWT
                    </span>
                    to build the website.And I am still working on it to increase more Features.And I am still working on the app to increase utilities.
                    </p>
        
               
        
                </span>
              </div>
        <div class="project-Box">
           
                  <a class="img" ></a>
         
                <span class="details_box">
                  <h3>Multi Vendor Website </h3>
                  
                    <p>
                      As to Prove myself as a Good Full Stack Developer I am still working hard to build an Multi Vendor Website Like 
                      <b class="ff_serif">Daraz</b>
                      by using <span class="ff_serif color_dark_gold" >NodeJs, ReactJs, Express, MongoDB, JWT</span>
                     .This will take time Will be hard but enough to increase my skill sa a developer
                    </p>
        
              
        
                </span>
              </div>
      </section>
      
      
      
      
  <section class="heading_section flex row jc_center">
    <!--Tab to edit-->
    <h2 class="heading_section_heading">Contact Me</h2>
  </section>


  <!-- contact me section -->
  <section id="contact_me_section">
  <form id="contact_me_form">
          <div class="input_box">
            <label  class="ff_serif" for="name_input">Name</label>
            <input id="name_input" type="text">
          </div>
          <div class="input_box">
             <label class="ff_serif" for="">Email</label>
             <input id="email_input" type="email">
           </div>
    <div class="input_box">
      <label class="ff_serif" for="WhatsApp_Number_input">
        WhatsApp Number
       </label>
      <input id="WhatsApp_Number_input" type="number">
    </div>       
    
     <div class="input_box">
       <label for="">Massage</label>
       <textarea name="" id="" cols="30" rows="10"></textarea>
     </div>
     
   
     
     <button  class="golden_border_btn ff_serif">Submit</button>
    </form>
  <div>
          <img src="" alt="">
          <p></p>
          <p>  </p>
          <div>
            <span>
              <i></i>
             <p></p>
            </span>
            <span>
              <i></i>
              <p></p>
          </span>
          </div>
          <div>
            <i></i>
            <i></i>
            <i></i>
          </div>
          
        </div>
        
  </section>
      
      
    </main>
   
   <style>
  
   </style>
  </body>
  </html>